.container{
  text-align:center;
  background-color:black;
  color:white;
  padding-bottom:80px;
}

.option{
  background:darkgrey;
  padding:10px;
  border-radius:10px;
  background:rgba(30, 30, 30, 1);
  width:70%;
  font-family:sans-serif;
}

img{
  border-radius:20px;
  margin-bottom:10px;
  height:40%;
  width:50%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

#box{
  width: 40%;
  padding:5px;
  background:grey;
  color:white;
  border-radius:20px;
  border: 5px ridge black;
}

#question{
  background:linear-gradient(grey,white);
  border-radius:20px;
  margin-top:0px;
  padding:10px;
}

#heading{
  font-family:monospace;
}